* {
    all: unset;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FontAwesome", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.bar 
{
  background-color: transparent;
  border-radius: 9px

}
.gel
{
  margin-top: 12px;
  color: pink ;
  border-radius: 50px;
  border-color: black;
  text-shadow: 0 0 9px #000000;
  min-width: 3px;
  padding: 6px;
}
@keyframes frames {
  0% {
    background-image: linear-gradient(0deg, #FF80E3, #D18AEC, #DFAEF2, #EEC8FE);
  }
  20% {
    background-image: linear-gradient(72deg,#FF80E3, #D18AEC, #DFAEF2, #EEC8FE);
  }
  40% {
    background-image: linear-gradient(144deg,#FF80E3, #D18AEC, #DFAEF2, #EEC8FE);
  }
  60% {
    background-image: linear-gradient(216deg,#FF80E3, #D18AEC, #DFAEF2, #EEC8FE);
  }
  80% {
    background-image: linear-gradient(288deg,#FF80E3, #D18AEC, #DFAEF2, #EEC8FE);
  }
  100% {
    background-image: linear-gradient(360deg,#FF80E3, #D18AEC, #DFAEF2, #EEC8FE);
  }
}
.spotify
{
  margin-right: 30px;

  background-image: none;
  color: pink;
}
