@import url("../../.cache/wal/colors-waybar.css");
* {
    /* `otf-font-awesome` is required to be installed for icons */
    all: unset;
    font-family: "Maple Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
}
window#waybar 
{
	background-color: rgba(19, 14, 20, 0);
	border-top: 0px solid transparent; 
	color: @foreground;
	transition-property: background-color;
	transition-duration: .25s;
	/*background-image: linear-gradient(to top, rgba(19, 14, 20, 0) 0%, rgba(19, 14, 20, 0.6)100%);*/
}

window#waybar.hidden {
    opacity: 0.2;
}
/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @background;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 6px;
    margin-top: -1px;
    padding: 1px 3px;
    background-color: transparent;
    color: @foreground;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    /*background: inherit;*/
    /*box-shadow: 0 3px #ff00ff;*/
}


#workspaces button {
    	background-color: @color10;
	margin-left: 7px;
	margin-right: 7px;
	min-width: 40px;
	box-shadow: 0px 0px 4px 1px @color0;
}

#workspaces button:hover {
    background: @color2;/*rgba(200, 50, 200, 0.3);*/
    color: @color0;
    text-shadow: inherit;
}

#workspaces button.active {
    background-color: @color11;
    color: @color0;
    min-width: 50px;
    margin-left: 2px;
    margin-right: 2px;
}
#workspaces button.active:hover {
    background: @color3;/*rgba(200, 50, 200, 0.3);*/
    color: @background;
    text-shadow: inherit;
}
#workspaces button.urgent {
    background-color: @color1;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces 
{
	background-color: transparent;
	padding: 8px;
	border-radius: 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#system {
	margin-top: 6px;
	background-color: @color10;
	border-radius:6px;
	margin-right: 4px;
	margin-bottom: 4px;
	padding : 4px;

}
label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#network {
    background-color: @color10;
    color: @color0;
}

#network.disconnected {
    background-color: #f53c3c;
}


#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    margin-top: 6px;
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
#pulseaudio 
{
    	background-color: @color10;
    	color: @color0;
	border-radius: 6px;
	margin-left: 2px;
}
/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @color0;
    color: @color10;
}
#pulseaudio.muted {
    background-color: @color15;
    color: @color10;
    margin-left: 4px;
}
#pulseaudio.muted:hover {
	background-color: @color0;
	color: @color8;
}
#pulseaudio-slider {
    margin-top: 0px;
    background-color: @color10;
    border-radius: 5px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 80px;
    border-width: 0px;
    border-radius: 5px;
    background-color: @color0;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-image: linear-gradient(72deg,  @color6, @color14); 
}
#clock
{
    color: @color0;
    margin-left: 2px;
}
#power {
	color: @color10;
	padding-right: 6px;
	padding-left: 6px;
	background-color: @color0;
	border-radius: 6px;
}
#custom-power-off
{
	padding-right: 6px;
}
#custom-lock
{
	padding-right: 6px;

}
#custom-restart
{
	padding-right: 6px;
}
